<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="_1.Properties.Settings.Tel_SpravConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Tel_Sprav.accdb" providerName="System.Data.OleDb" />
    <add name="_1.Properties.Settings.Tel_SpravConnectionString1" connectionString="Provider=Microsoft.ACE.OLEDB.15.0;Data Source=|DataDirectory|\Tel_Sprav.accdb" providerName="System.Data.OleDb" />
    <add name="_1.Properties.Settings.Tel_SpravDatabaseConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Tel_SpravDatabase.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="_1.Properties.Settings.Tel_Sprav" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\Tel_Sprav.accdb" providerName="System.Data.OleDb" />
    <add name="_1.Properties.Settings.Tel_SpravConnection" connectionString="Provider=Microsoft.ACE.OLEDB.15.0;Data Source=|DataDirectory|\bin\Debug\Tel_Sprav.accdb" providerName="System.Data.OleDb" />
    <add name="_1.Properties.Settings.Tel_SpravConnectionString2" connectionString="Provider=Microsoft.ACE.OLEDB.15.0;Data Source=|DataDirectory|\Tel_Sprav.mdb" providerName="System.Data.OleDb" />
    <add name="_1.Properties.Settings.Database1ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="_1.Properties.Settings.imgConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.15.0;Data Source=|DataDirectory|\bin\Debug\img.accdb" providerName="System.Data.OleDb" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>